# S/MIME signature verification

In this example, you will see how to verify S/MIME messages.
